@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../app/styles/button.module.scss";
@import "../app/styles/text.module.scss";
@import "../app/styles/layout.module.scss";
@import "../app/styles/mixins.module.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-font-family: "Courier New", Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

// @layer utilities {
//   .text-balance {
//     text-wrap: balance;
//   }
// }
