@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../app/styles/button.module.scss";
@import "../app/styles/text.module.scss";
@import "../app/styles/layout.module.scss";
@import "../app/styles/mixins.module.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-font-family: "Courier New", Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto !important;
}

nav {
  background-color: white !important;
  height: 7rem;
}

nav ul a {
  color: #0a0a0a !important;
  font-size: 2rem;
}

.page-footer {
  background-color: white !important;
}
.page-footer .footer-copyright {
  background-color: black !important;
}

// @layer utilities {
//   .text-balance {
//     text-wrap: balance;
//   }
// }
